@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #faf8f5;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 16px;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  text-align: center;
  color: #1a1a1a;
  width: 976px;
  @media (max-width: 1024px) {
    font-size: 26px;
    width: 100%;
  }
}

.section-title span {
  border-bottom: 2px solid #a0a747;
}

.swiper-pagination-bullet-active {
  background: #999 !important; 
}

.swiper-pagination-bullet {
  background: #999 !important; 
  opacity: 1;
}
